:host {
  display: block;
  min-height: 100vh;
  background-color: #0B1120;
}

select option {
  background-color: #1E293B;
  color: white;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1rem;
}

.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  margin-top: 2rem;
}